<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>PokeDex</title>
  </head>
  <body>
    <nav>
    <h1>PokeDex</h1>
    <form action="/" method="POST">
      <label for="pokemonInput">Pokemon: </label>
      <input id="pokemonInput" placeholder="e.g Pikachu" type="text" name="Pokemon" />
      <button type="submit">Go</button>
      </form>
      </nav>
   <div class="flex-container">
      <div class="left-container">
        <h2>Name: <%= pokemon.name %></h2>
        <img src="<%= pokemon.artwork %>" alt="Pokemon-Image" />
      </div>

      <div class="right-container">
          <h3>Abilities</h3>
        <ul>
          <% for(var i=0; i<pokemon.abilities.length; i++){ %>
            <li><%= pokemon.abilities[i].ability.name %></li>
         <% } %>
        </ul>
      

     
          <h3>Types</h3>
        <ul>
          <% for(var i=0; i<pokemon.types.length; i++){ %>
            <li><%= pokemon.types[i].type.name %></li>
         <% } %>
        </ul>
     </div>
   </div>
  </body>
</html>
