body {
  background-color: firebrick;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

h2 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.sub-container {
  background-color: #f7f7f7;

  border-style: solid;
  border-radius: 10px;
  margin: 10px;
}

.pokemon-info {
  text-align: center;
  list-style: none;
  font-size: 20px;
  line-height: 2;
}
